html, body *{
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; 
  font-family:'Silkscreen', cursive;
}
body{
  background-color: cornflowerblue;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 30rem;
} 

.header1 {
  color: lightpink;
  font-size: 2rem;
padding-left: 45rem;
}
.headers {
  color: aqua;
  font-size: 3rem;
  padding-left: 50rem;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  justify-content: space-around;
 margin: 30px auto;
} 
        
.column {
  height: 50rem;
  display: flex;
  justify-content: center;
}

.card{
  width: 100%;
  height: 300px;
  background-color: plum;
  box-shadow: 10px 10px 10px 10px lightblue;
  display: flex;
  font-size: large;
  align-content: center;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5rem;
  padding-right: 1rem;
}

.div8{
  color: green;
}
.div7{
  color: red;
}
.div6{
  color: aquamarine;
}
.div5{
  color: paleturquoise;
}
.div4{
  color: rebeccapurple;
}
.div3{
  color: brown;
}
.div2{
  color:black;
}
.div1{
  color: royalblue;
}
.div9 {
color: chocolate
}

.card-img{
  display: flex;
  flex: auto;
  height: 80%;
  width: 300px;
  align-items: center;
  position: relative;
  object-fit: contain;
  align-content: flex-start;
  padding-left: 13rem;
  padding-top: 5rem;
}