html, body *{
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; 
  font-family:'Silkscreen', cursive;
}
body{
  background-color: plum;
}

.header {
  display: flex;
  justify-content: center;
  transition: all 0.6s;
} 

.header:hover{
  transform: scale(0.8);
}
.header::before{
  content:"\1F3AF";
  font-size: 3rem;
}
.header::after{
  content:"\1F3AF";
  font-size: 3rem;
}
.header1 {
  color: darkslateblue;
  font-size: 2rem;
  display: flex;
 justify-content: center;
 transition: all 0.6s;
}

.header1:hover{
  transform: scale(1.4);  
  color: crimson;
}
.header1::before{
  content:"\2730";
  font-size: 3rem;
}
.header1::after{
  content:"\2730";
  font-size: 3rem;
}
.headers {
  color:brown;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  transition: all 0.6s;
}

.headers:hover{
  transform: scale(1.6);
  color: purple;
}

.headers::before{
  content:"\26A1";
  font-size: 5rem;
}
.headers::after{
  content:"\26A1";
  font-size: 5rem;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  width: 92vw;
  justify-content: space-around;
 margin: 30px auto;
} 
        
.column {
  height: 50rem;
  display: flex;
  justify-content: center;
}

.card{
  width: 30%;
  height: 300px;
 background-color: lightpink;
  box-shadow: 10px 10px 10px 10px palevioletred;
  display: flex;
  font-size: medium;
  align-content: center;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5rem;
  padding-right: 1rem;
}
.div8{
  color: green;
  transition: all 0.4s;
}
.div8:hover{
  transform: scale(1.1);
  color: purple;
  background-color: green;
}
.div7{
  color: red;
  transition: all 0.4s;
}
.div7:hover{
  color: goldenrod;
  transform: scale(1.1);
  background-color: crimson;
}
.div6{
  color: darkcyan;
  transition: all 0.4s;
}
.div6:hover{
  transform: scale(1.1);
  color: red;
  background-color: black;
}
.div5{
  color: palevioletred;
  transition: all 0.4s;
}
.div5:hover{
  transform: scale(1.1);
  background-color: darkred;
  color: lightblue;
}
.div4{
  color: rebeccapurple;
  transition: all 0.4s;
}
.div4:hover{
  transform: scale(1.1);
  color:black;
  background-color: darkred;
}
.div3{
  color: brown;
  transition: all 0.4s;
}
.div3:hover{
  transform: scale(1.1);
  color: red;
  background-color: goldenrod;
}
.div2{
  color:black;
  transition: all 0.3s;
  padding-right: 4rem;
}
.div2:hover{
  transform: scale(1.1);
  color: cyan;
  background-color: darkgreen;
}
.div1{
  color: royalblue;
  transition: all 0.4s;
}
.div1:hover{
  transform: scale(1.1);
  color: tomato;
  background-color:lightskyblue;
}
.div9 {
color: chocolate;
transition: all 0.4s;
}
.div9:hover{
  transform: scale(1.1);
  background-color: burlywood;
  color: chartreuse;
}
.card-img{
  display: flex;
  flex: auto;
  height: 80%;
  width: 300px;
  align-items: center;
  position: relative;
  object-fit: contain;
  align-content: flex-start;
  padding-left: 8rem;
  padding-top: 5rem;
  transition: all 0.4s;
}

.card:hover{
  animation-name:gelatine;
  animation-duration: 0.6s;
}
@keyframes gelatine {
  from, to { transform: scale(1.1, 1.1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); 
  }
}
.card:hover {
  box-shadow:0 5px 50px red;
}
